/************************************************************************
* CSS - Vulpe Framework											*
************************************************************************/ /* Classes */
td .titulo {
	font-weight: bold;
}

.vulpeActions {
	width: 100%;
	text-align: right;
}

.vulpeAlertError {
	color: red;
}

.vulpeAlertMessage {

}

.vulpeOrderAsc {
	background: #eee url(../../images/frontend/icons/order-asc.gif) right no-repeat;
}

.vulpeButton {
	background: url(../../images/fundo-azul.png) repeat-x;
	border: 1px #12327C solid;
	cursor: pointer;
	width: auto;
	color: #FFFFFF;
}

.vulpeBlockLabel {
	display: block;
	width: auto;
	float: left;
}

.vulpeBlockshort {
	display: block;
	width: 90px;
	float: left;
}

.vulpeOrderDesc {
	background: #eee url(../../images/frontend/icons/order-desc.gif) right no-repeat;
}

.vulpeFieldError {
	background-color: #ffccbc;
}

.vulpeDrag {
	cursor: move;
}

.vulpeEntities {
	border: 0;
}

.vulpeLineOff {
	background: #fff;
	height: 25px;
}

.vulpeLineOn {
	background: #ecf2f8;
	height: 25px;
}

.vulpeMessages {
	background-color: #fff;
	border: 1px solid #333;
	font-weight: normal;
	overflow: auto;
	padding: 1px;
}

.vulpeImageErrorMessage {
	border: 0;
	cursor: pointer;
	display: none;
	left: -2px;
	position: relative;
	top: 3px;
}

.vulpeImageFieldLoading {
	border: 0;
	cursor: pointer;
	display: none;
	left: -2px;
	position: relative;
	top: 3px;
}

.vulpeImagePopupButton {
	cursor: pointer;
	position: relative;
	top: 3px;
}

.vulpeMessageInfo,.vulpeMessageSuccess,.vulpeMessageWarning,.vulpeMessageError,.vulpeMessageValidation
	{
	border: 1px solid;
	margin: 0px 0px 1px 0px;
	/*padding: 15px 10px 15px 50px;*/
	background-repeat: no-repeat;
	background-position: 10px center;
}

.vulpeMessageError {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../../images/frontend/icons/message-error.png');
}

.vulpeMessageInfo {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../../images/frontend/icons/message-info.png');
}

.vulpeMessages h1 {
	width: auto;
	margin-top: 0px;
	cursor: default;
	height: 40px;
}

.vulpeNoBoarder {
	border: none;
}

.vulpeNob {
	font-weight: normal
}

.vulpeIconOff {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.vulpePaging {
	width: 100%;
	margin: 5px auto;
	text-align: center;
}

.vulpePaging a {
	text-decoration: none;
}

.vulpePopup {
	background-color: #fff;
	border: 1px solid #999;
	border-top: 1px solid #F9F9F9;
	padding: 1px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
}

.vulpePopup h1 {
	width: auto;
	margin-top: 0px;
	cursor: default;
}

.vulpePopupCaption {
	background: none;
	display: block;
	font-size: 13px;
	height: 20px;
	letter-spacing: 0px;
	margin: 0px 0px 0px 0px;
	padding-left: 10px;
	padding-top: 3px;
	width: auto;
}

.vulpeSelectedRow {
	background-color: #ffccbc; /*E8EBE2*/
	cursor: pointer;
}

.vulpeSimpleLabel {
	font-weight: normal;
}

.vulpeMessageSuccess {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../../images/frontend/icons/message-success.png');
}

.vulpeSubmit {
	background: url(../../images/fundo-azul.png) repeat-x;
	border: 1px #12327C solid;
	height: 20px;
	padding: 0px;
	width: 90px;
	color: #ffffff;
}

.vulpeRequired {
	border: 1px solid #ffccbc;
}

.vulpeThumb {
	border: 1px solid #000;
}

.tooltip {
	display: none;
	background: url(../../images/tooltip/black-arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #fff;
	border: 0px;
}

.tooltip.bottom {
	background: url(../../images/tooltip/black-arrow-bottom.png);
	padding-top: 40px;
	height: 55px;
	border: 0px;
}

/*
#content {
	width: auto;
	position: fixed;
}
*/
#contentTitle {
	background-color: #eee;
	display: block;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	height: 15px;
	margin: 1px;
	padding: 5px 10px 5px 10px;
	width: auto;
}

#userAuthenticated {
	background-color: #000;
	display: block;
	height: 16px;
	margin: 0;
	padding-left: 20px;
	padding-top: 3px;
	text-align: right;
	width: auto;
	font-size: 11px;
	color: #fff;
}

#userAuthenticated  a {
	border-left: 1px solid #eee;
	color: #fff;
	padding: 2px;
	text-decoration: none;
}

#userAuthenticated  a:hover {
	text-decoration: underline;
}

#userAuthenticated  a:visited {
	color: #fff;
}

.vulpeMessageValidation {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('../../images/frontend/icons/message-validation.png');
}

.vulpeMessageWarning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../../images/frontend/icons/message-warning.png');
}

/* DOM Objects */
* {
	margin: 0;
	padding: 0;
}

a,a:visited {
	color: #333;
}

a:hover {
	text-decoration: none
}

body {
	text-align: left;
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
}

body,html {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

fieldset {
	border: 1px solid #e1e4d7;
}

h1 {
	background-color: #eee;
	border-top: 1px #ddd solid;
	/*border-bottom: 1px #ddd solid;*/
	display: block;
	font-size: 11px;
	height: 20px;
	letter-spacing: 1px;
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
	width: auto;
}

input,select,textarea {
	color: #000;
	font-size: 8pt;
	font-family: verdana, arial, sans-serif;
}

input[type="checkbox"] {
	border: 0px;
}

label {
	font-weight: bold
}

legend {
	font-weight: bold;
}

ol,ul {
	margin: 10px 60px;
}

p {
	margin: 10px;
}

tbody tr {
	margin: 0px;
	padding: 0px;
}

td {
	color: #333;
}

td p {
	margin: 0;
	line-height: 1.7em;
	padding: 3px;
}

tfoot {
	text-align: center;
}

.vulpeTableHeader,.vulpeTableFooter {
	color: #fff;
	font-weight: bold;
	background-color: #0039BA;
	text-align: left;
	font-size: xx-small;
}

.vulpeColumnHeader {
	color: #000;
	font-weight: bold;
	background-color: #E5E5E5;
	font-size: xx-small;
}

thead tr {
	text-align: center;
}

html,body {
	height: 100%;
}

* html #container {
	height: 100%;
}

/* ID Elements */
#body {
	background-color: #fff;
	padding-bottom: 30px;
	width: 100%;
	border: #999999 solid 0px;
	display: table;
	padding: 0px;
	position: relative;
}

#body table {
	margin-left: 10px;
	width: 98.5%;
}

#body td,#body th {
	padding: 5px;
}

#vulpeCRUDBody td,#vulpeCRUDBody th,#vulpeSelectForm td {
	padding: 0px;
}

#container {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#content {
	padding: 5px;
}

#copyright {
	font-size: 9px;
}

#copyright a {
	color: #eee;
	text-decoration: none;
}

#copyright a:hover {
	color: #ccc;
	text-decoration: none;
}

#errors {
	width: 400px;
	margin: 0 auto
}

#footer {
	text-align: center;
	margin-bottom: 0;
	background-color: #012883;
	color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
}

#frontend {
	background: #fff;
	top: 0px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding: 0px;
	height: auto;
	text-align: left;
}

#header {
	background: url(../../images/background-header.jpg) no-repeat;
	background-color: #012883;
	width : 100%;
	height: 80px;
	top: 0;
	width: 100%;
}

#header #logo {
	background: url(../../images/logo.jpg) no-repeat;
	width: 281px;
	height: 57px;
}

#loading {
	background: url(../../images/frontend/ajax/loader.gif) center no-repeat;
	cursor: wait;
}

#menu {
	background: url(../../images/fundo-azul.png) repeat-x;
	width: 100%;
	height: 23px;
	position: relative;
	z-index: 200;
}

#messages {
	position: relative;
	width: 99.9%;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 150;
	padding: 0px;
}

#messages #closeMessages {
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 9px;
}

#paging {

}

#paging a {
	text-decoration: underline;
}

#paging a:hover {
	text-decoration: underline;
}

#paging .currentPage {
	font-weight: bold;
}

#pagingFirstPage {
	background: url(../../images/icons/button-go-first.png) no-repeat;
	display: inline-table;
	height: 16px;
	width: 16px
}

#pagingPreviousPage {
	background: url(../../images/icons/button-go-previous.png) no-repeat;
	display: inline-table;
	height: 16px;
	width: 16px
}

#pagingNextPage {
	background: url(../../images/icons/button-go-next.png) no-repeat;
	display: inline-table;
	height: 16px;
	width: 16px
}

#pagingLastPage {
	background: url(../../images/icons/button-go-last.png) no-repeat;
	display: inline-table;
	height: 16px;
	width: 16px
}

#poweredby {
	font-size: 9px;
}

#poweredby a {
	color: #eee;
	text-decoration: none;
}

#poweredby a:hover {
	color: #ccc;
	text-decoration: none;
}

#search {
	float: right;
	height: 24px;
	margin-top: 66px;
	text-align: right;
	width: 39px;
	cursor: pointer;
}

#error {
	background-color: #eee;
	height: 100%;
}

#error #message {
	padding: 3px 20px 20px;
}

#error a {
	font-size: 13px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#error h1 {
	color: #d00;
	background-color: #ddd;
	display: block;
	font-size: 20px;
	height: auto;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#error h2 {
	display: block;
	font-size: 16px;
	height: auto;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#crud {
	margin-top: 0px
}

#select {
	margin-top: 10px
}

#vulpeCRUDBodyTabs ul {
	font-size: 12px;
}

#vulpeCRUDBodyTabs li {
	font-weight: bold;
}