/************************************************************************
* CSS - Active Thread Framework											*
************************************************************************/

/* Classes */

.actions {
	width: 100%;
	text-align: right;
}

.alertError {
	color: red;
}

.alertMessage {

}

.asc {
	background: url(../../images/order-asc.gif) right;
	background-color: #eee;
	background-repeat: no-repeat;
}

.button {
	background: url(../../images/background-button.png) repeat-x;
	border: 1px #CCCCCC solid;
	cursor: pointer;
	width: auto;
}

.blocklabel {
	display: block;
	width: 135px;
	float: left;
}

.blockshort {
	display: block;
	width: 90px;
	float: left;
}

.desc {
	background: url(../../images/order-desc.gif) right;
	background-color: #eee;
	background-repeat: no-repeat;
}

.fieldError {
	background-color: #ffccbc;
}

.drag {
	cursor: move;
}

.entities {
	border: 1px solid #eee;
	margin-bottom: 15px;
}

.lineOff {
	background: #fff;
}

.lineOn {
	background: #eee;
}

.messages {
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	background-color: #fff;
	border: 1px solid #333;
	/*font-weight: bold;*/
	overflow: auto;
	padding: 1px;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 0px 0px 1px 0px;
    /*padding: 15px 10px 15px 50px;*/
    background-repeat: no-repeat;
    background-position: 10px center;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/message-error.png');
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/message-info.png');
}

.simpleLabel {
	font-weight: normal;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/message-success.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../../images/message-validation.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/message-warning.png');
}

.messages h1 {
	width: auto;
	margin-top: 0px;
	cursor: move;
}

.noBorder {
	border: none;
}

.nob {
	font-weight: normal
}

.off {
	filter: progid :         DXImageTransform .         Microsoft .
		   Alpha(opacity =         40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.paging {
	width: 150px;
	margin: 5px auto;
	text-align: center;
}

.paging a {
	text-decoration: none;
}

.popup {
	background-color: #fff;
	border: 1px solid #333;
	border-top: 1px solid #F9F9F9;
	font-weight: bold;
	padding: 1px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
}

.popup h1 {
	width: auto;
	margin-top: 0px;
	cursor: default;
}

.popupCaption {
	background: none;
	display: block;
	font-size: 12px;
	height: 20px;
	letter-spacing: 1px;
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
	width: auto;
}

.selectedRow {
	background-color: #ffccbc; /*E8EBE2*/
	cursor: pointer;
}

.submit {
	background: url(../../images/background-button.png) repeat-x;
	border: 1px #CCCCCC solid;
	font-weight: 700;
	height: 20px;
	padding: 0px;
	width: 90px;
	cursor: pointer;
}

.tooltip {
	display:none;
	background:url(../../images/tooltip/black-arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
	border:0px;
}

.uc {
	width: auto;
}

.ucTitle {
	background-color: #eee;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	letter-spacing: 1px;
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
	width: auto;
	background: #F5F3F1;
	padding: 10px 15px 10px 15px;
	font-family: tahoma, arial, hevetica, sans-serif;
	font-size: 11px;
}

.userAuthenticated {
	text-align: right;
}

/* DOM Objects */

* {
	margin: 0;
	padding: 0;
}

a,a:visited {
	color: #030;
}

a:hover {
	text-decoration: none
}

body {
	color: #030;
	font: 11px arial, sans-serif;
}

body,html {
	background-color: #fff;
	margin: 0;
	padding: 0;
	height: 100%;
}

fieldset {
	margin-left: 28px;
	border: 1px solid #e1e4d7;
	padding-bottom: 10px;
}

h1 {
	background: url(../../images/background-all.png) repeat-x;
	display: block;
	font-size: 12px;
	height: 20px;
	letter-spacing: 1px;
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
	width: auto;
}

input,select,textarea {
	border: 1px solid #030;
	color: #030;
	font: 11px arial, sans-serif;
	padding: 1px;
}

label {
	font-weight: bold
}

legend {
	font-weight: bold;
}

ol,ul {
	font-size: 11px;
	margin: 10px 60px;
}

p {
	font-size: 11px;
	margin: 10px 28px;
}

tbody tr {
	margin: 0px;
	padding: 0px;
}

td {
	color: #030;
	font: 11px arial, sans-serif;
}

td p {
	margin: 0;
	line-height: 1.7em;
	margin-bottom: 5px;
}

th,.header {
	color: #333;
	font: 11px arial, sans-serif;
	font-weight: bold;
	background: #fff url(../../images/shadow-bottom.png) bottom repeat-x;
}

thead th,.header {
	color: #333;
	font: 11px arial, sans-serif;
	font-weight: bold;
	background: #fff url(../../images/shadow-top.png) top repeat-x;
}


/* ID Elements */

#body {
	background-color: #fff;
	padding-bottom: 17px;
	width: 100%;
}

#body table {
	margin-left: 27px;
	width: 95%;
}

#body td,th {
	padding: 5px;
}

#container {
	margin: 0 auto;
	width: 100%;
}

#copyright {

}

#copyright a {
	text-decoration: none;
}

#copyright a:hover{
	color: #999;
	text-decoration: none;
}
#errors {
	width: 400px;
	margin: 0 auto
}

#footer {
	background: url(../../images/background-all.png) repeat-x;
	display: block;
	font-size: 10px;
	height: 20px;
	margin: 9px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
	width: auto;
}

#header {
	background: url("../../images/header-background.png") repeat-x;
	width: 100%;
	height: 99px;
}

#header .image {
	background: url("../../images/header.png") no-repeat;
	height: 99px;
	vertical-align: top;
	width: 800px;
}

#loading {
	background: url(../../images/loader.gif) center no-repeat;
	height: 32px;
	cursor: wait
}

#loginBox {
	display: block;
	background: #e1e4d7;
	padding: 5px;
}

#loginBox label {
	width: 60px;
	font-weight: bold;
	text-align: right;
}

#loginHolder {
	width: 300px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 5px;
	background: #fff;
	border: 1px solid #030;
}

#logo {
	background: url(../../images/background-all.png) repeat-x;
	width: 100%;
	height: 90px;
}

#menu {
	width: auto;
}

#okHolder {
	width: 310px;
	margin: 0 auto;
	margin-top: 20px;
}

#poweredby {
	font-size: 9px;
}

#poweredby a {
	text-decoration: none;
}

#poweredby a:hover{
	color: #999;
	text-decoration: none;
}

#search {
	float: right;
	height: 24px;
	margin-top: 66px;
	text-align: right;
	width: 39px;
	cursor: pointer;
	font-size: 11px;
}

#error {
	background-color: #eee;
	height: 100%;
}

#error a {
	font-size: 13px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#error h1 {
	color: #d00;
	background-color: #ddd;
	display: block;
	font-size: 30px;
	height: auto;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#error h2 {
	display: block;
	font-size: 20px;
	height: auto;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}